@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
  html {
    font-family: 'Mona Sans';
  }

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin: 2em;
    text-decoration: none;
}

.product-heading{
    text-align: center;
}

.form-div{
    display: flex;
    justify-content: center;
}

input[type=text], input[type=number], .select-type{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: #047baa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.manage{
    background-color:#00235B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer; 
    border-radius: 10px; 
}
.submit{
  background-color:#00235B;
}

.catalog{
    background-color: #33e7cf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
}

.sell{
  background-color: #7958e9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px; 
}

input{
    margin: 0.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }

#initiateScan{
  background-color: #FFD966;
}
